@import '~css-star-rating/scss/star-rating';

@font-face {
  font-family: 'Avenir Next Reg';
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format('truetype');
}

html,body {  
  font-family: 'Avenir Next Reg', 'Open Sans', serif;

  background-image: linear-gradient(#876BD1, #648ED0);
  padding-top: 50px
}

