<div class="columns is-mobile is-centered">
    <div *ngFor="let user of profile" class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd ">

        
        <p>{{user.attributes.name}}</p>
    </div>
    
  
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd ">
 
    </div>
    
  
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd ">
 
    </div>
    
  
  </div>

  <app-nav [myTemplate]="myTemplate"></app-nav>
