<div class="columns is-mobile is-centered">
    <div *ngIf="profile" class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd ">

        
<div class="form">
        <div class="field">
          <label class="label">Naam*</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input" value="{{profile.attributes.field_username}}" #name>
          </div>
        </div>

        <div class="field">
          <label class="label">Profielfoto veranderen</label>
         <!--  <div class="control">
              <input id="fileInput" type="file" (change)="onFileChanged($event)">
          </div> -->

          <div id="upload_button">
              <label>
                <input type="file" (change)="onFileChanged($event)">
                <a>KIES BESTAND</a>
              </label>

              <p [innerHTML] = "fileName"></p>

          </div>
        </div>

        

        <div class="field">
            <label class="label">Geboortedatum*</label>
            <div class="control">
              <input class="input" type="date" placeholder="dd-mm-yyyy">
            </div>
          </div>

        <a (click)="editProfile(name)" class="button is-outlined is-rounded is-medium btnCreate">OPSLAAN</a>
        <p class="valMessage" [innerHTML] = "msg"></p>

    </div>
    
  </div>
  </div>

  
